Importing Pandas library

In [3]:
import pandas as pd

Reading the dataset

In [7]:
data=pd.read_csv('big_mart_sales.csv')

In [8]:
type(data)

pandas.core.frame.DataFrame

Viewing the data

In [5]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

Checking size of the dataset

In [7]:
data.shape

(8523, 12)

Reading data after skipping initial 5 lines

In [12]:
data_skip_five_lines=pd.read_csv('big_mart_sales.csv',skiprows=5)
data_skip_five_lines.head()

,NCD19,8.93,Low Fat,0,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
0,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
1,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
2,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
3,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
4,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

Reading the first 100 rows

In [13]:
data.head(100)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
95,FDU04,NaN,Low Fat,0.009715,Frozen Foods,120.0414,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
96,FDF41,12.15,Low Fat,0.131384,Frozen Foods,246.0460,OUT049,1999,Medium,Tier 1,Supermarket Type1,1231.7300
97,FDB56,8.75,Regular,0.074613,Fruits and Vegetables,187.4556,OUT035,2004,Small,Tier 2,Supermarket Type1,3755.1120
98,NCP18,NaN,Low Fat,0.028460,Household,149.9708,OUT027,1985,Medium,Tier 3,Supermarket Type3,4363.6532
99,FDB56,8.75,Regular,0.074627,Fruits and Vegetables,187.8556,OUT046,1997,Small,Tier 1,Supermarket Type1,1314.2892

Reading specific columns

In [14]:
read_specific_columns=pd.read_csv('big_mart_sales.csv',usecols=['Item_Identifier','Item_Weight','Item_Fat_Content','Outlet_Establishment_Year'])

In [15]:
read_specific_columns

     Item_Identifier  Item_Weight Item_Fat_Content  Outlet_Establishment_Year
0              FDA15        9.300          Low Fat                       1999
1              DRC01        5.920          Regular                       2009
2              FDN15       17.500          Low Fat                       1999
3              FDX07       19.200          Regular                       1998
4              NCD19        8.930          Low Fat                       1987
...              ...          ...              ...                        ...
8518           FDF22        6.865          Low Fat                       1987
8519           FDS36        8.380          Regular                       2002
8520           NCJ29       10.600          Low Fat                       2004
8521           FDN46        7.210          Regular                       2009
8522           DRG01       14.800          Low Fat                       1997

[8523 rows x 4 columns]

Subset data based on a value in a column

In [19]:
data[data['Item_Identifier']=='DRC01']
#Below we get all rows having Item_Identifer as DRC01

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2272,DRC01,5.92,Regular,0.019309,Soft Drinks,49.0692,OUT017,2007,NaN,Tier 2,Supermarket Type1,1478.0760
2927,DRC01,NaN,Regular,0.019107,Soft Drinks,48.4692,OUT027,1985,Medium,Tier 3,Supermarket Type3,1034.6532
5029,DRC01,5.92,Regular,0.019239,Soft Drinks,49.8692,OUT045,2002,NaN,Tier 2,Supermarket Type1,1133.1916
5077,DRC01,5.92,Regular,0.019200,Soft Drinks,47.7692,OUT046,1997,Small,Tier 1,Supermarket Type1,492.6920
5218,DRC01,5.92,Regular,0.019184,Soft Drinks,50.3692,OUT013,1987,High,Tier 3,Supermarket Type1,591.2304

Subset based on position

In [20]:
#To view top 5 rows
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [21]:
#To view last 5 rows
data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [22]:
#To select rows in range 10 t0 14
data[10:15]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260

In [23]:
#To skip every alternate row in the range 10 to 20
data[10:21:2]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
16,NCB42,11.80,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
20,FDN22,18.85,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860

In [24]:
#To read specific rows by index number
data.iloc[[2,12,20]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
20,FDN22,18.85,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860

In [25]:
#Using iloc with both rows and columns
data.iloc[[1,4,5,2],[1,3,5]]

   Item_Weight  Item_Visibility  Item_MRP
1        5.920         0.019278   48.2692
4        8.930         0.000000   53.8614
5       10.395         0.000000   51.4008
2       17.500         0.016760  141.6180

Subsetting based on label

In [26]:
#To set Item_Identifier column as the index of the DataFrame
data.set_index('Item_Identifier',inplace=True, drop=True)

In [27]:
data

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [28]:
#To select rows with index value=FDS36
data.loc['FDS36']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDS36,8.38,Regular,0.046878,Baking Goods,109.857,OUT035,2004,Small,Tier 2,Supermarket Type1,2306.997
FDS36,8.38,Regular,0.046848,Baking Goods,110.557,OUT013,1987,High,Tier 3,Supermarket Type1,3844.995
FDS36,8.38,Regular,0.046887,Baking Goods,107.957,OUT046,1997,Small,Tier 1,Supermarket Type1,2966.139
FDS36,8.38,Regular,0.046960,Baking Goods,111.857,OUT049,1999,Medium,Tier 1,Supermarket Type1,2966.139
FDS36,8.38,Regular,0.047153,Baking Goods,110.157,OUT017,2007,NaN,Tier 2,Supermarket Type1,3185.853
FDS36,8.38,Regular,0.046982,Baking Goods,108.157,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.285

In [29]:
#To select rows with index value: FDX07, FDS36
data.loc[['FDX07','FDS36']]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.095,OUT010,1998,NaN,Tier 3,Grocery Store,732.380
FDX07,19.20,Regular,0.022914,Fruits and Vegetables,181.195,OUT035,2004,Small,Tier 2,Supermarket Type1,2380.235
FDX07,19.20,Regular,0.022965,Fruits and Vegetables,181.695,OUT045,2002,NaN,Tier 2,Supermarket Type1,2563.330
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,184.595,OUT018,2009,Medium,Tier 3,Supermarket Type2,3844.995
FDX07,19.20,Regular,0.022954,Fruits and Vegetables,184.495,OUT049,1999,Medium,Tier 1,Supermarket Type1,4028.090
FDX07,NaN,Regular,0.022808,Fruits and Vegetables,183.495,OUT027,1985,Medium,Tier 3,Supermarket Type3,4577.375
FDS36,8.38,Regular,0.046878,Baking Goods,109.857,OUT035,2004,Small,Tier 2,Supermarket Type1,2306.997
FDS36,8.38,Regular,0.046848,Baking Goods,110.557,OUT013,1987,High,Tier 3,Supermarket Type1,3844.995
FDS36,8.38,Regular,0.046887,Baking Goods,107.957,OUT046,1997,Small,Tier 1,Supermarket Type1,2966.139
FDS36,8.38,Regular,0.046960,Baking Goods,111.857,OUT049,1999,Medium,Tier 1,Supermarket Type1,2966.139
FDS36,8.38,Regular,0.047153,Baking Goods,110.157,OUT017,2007,NaN,Tier 2,Supermarket Type1,3185.853
FDS36,8.38,Regular,0.046982,Baking Goods,108.157,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.285

In [31]:
#Selecting rows and columns using label of the index
data.loc[['FDX07','FDS36'],['Outlet_Size','Outlet_Establishment_Year']]

                Outlet_Size  Outlet_Establishment_Year
Item_Identifier
FDX07                   NaN                       1998
FDX07                 Small                       2004
FDX07                   NaN                       2002
FDX07                Medium                       2009
FDX07                Medium                       1999
FDX07                Medium                       1985
FDS36                 Small                       2004
FDS36                  High                       1987
FDS36                 Small                       1997
FDS36                Medium                       1999
FDS36                   NaN                       2007
FDS36                   NaN                       2002

Difference between loc and iloc

In [4]:
#Creating a sample dataframe
sample_df=pd.DataFrame({
    'gender':['M','F','M','M','F'],
    'grade':['A','A','B','B','A'],
    'marks':[22,21,12,14,20],
    'id':['A101','A102','A103','A104','A105']
})

sample_df.head()

  gender grade  marks    id
0      M     A     22  A101
1      F     A     21  A102
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [5]:
#Using loc[2:4]
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In the above result we observed loc takes labels as arguments.
Thus, 2:4 means it prints row label 2, label 3, label 4

In loc we have label based indexing

In [6]:
#Using iloc[2:4]
sample_df.iloc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104

In the above result we observed iloc takes index as arguments. Thus, 2:4 means it prints row of index 2 and index 3.

In iloc we have position based indexing

In [39]:
#Accessing value from 2nd row 4th column
sample_df["id"].iloc[2:3]

2    A103
Name: id, dtype: object

In [45]:
sample_df.iloc[1,3]

'A102'

Subsetting based on value

In [9]:
#Selecting all rows where the value of Outlet_Establishment_Year is 1987
data[data.Outlet_Establishment_Year==1987]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [10]:
#Using loc to fetch rows based on data
data.loc[data.Outlet_Establishment_Year==1987]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [13]:
#Filtering data based on multiple values in the columns
data.loc[(data.Outlet_Establishment_Year==1987)&(data.Item_Type=='Soft Drinks')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
103,DRB48,16.750,Regular,0.024833,Soft Drinks,38.7822,OUT013,1987,High,Tier 3,Supermarket Type1,667.7974
109,DRK49,14.150,Low Fat,0.035914,Soft Drinks,41.4138,OUT013,1987,High,Tier 3,Supermarket Type1,812.2760
224,DRJ13,12.650,Low Fat,0.062838,Soft Drinks,161.5578,OUT013,1987,High,Tier 3,Supermarket Type1,2406.8670
435,DRI13,15.350,Low Fat,0.020310,Soft Drinks,218.0508,OUT013,1987,High,Tier 3,Supermarket Type1,3038.7112
829,DRJ24,11.800,Low Fat,0.113235,Soft Drinks,186.3924,OUT013,1987,High,Tier 3,Supermarket Type1,5367.6796
1218,DRG01,14.800,Low Fat,0.044841,Soft Drinks,78.3670,OUT013,1987,High,Tier 3,Supermarket Type1,918.8040
1245,DRA12,11.600,Low Fat,0.040912,Soft Drinks,142.3154,OUT013,1987,High,Tier 3,Supermarket Type1,2552.6772
1667,DRL01,19.500,Regular,0.077108,Soft Drinks,232.8958,OUT013,1987,High,Tier 3,Supermarket Type1,5608.6992
1930,DRD24,13.850,Low Fat,0.030769,Soft Drinks,141.7154,OUT013,1987,High,Tier 3,Supermarket Type1,2978.1234
2022,DRH36,16.200,Low Fat,0.000000,Soft Drinks,73.4696,OUT013,1987,High,Tier 3,Supermarket Type1,2087.9488
2225,DRE48,8.430,Low Fat,0.017311,Soft Drinks,197.8768,OUT013,1987,High,Tier 3,Supermarket Type1,3744.4592
2699,DRE60,9.395,Low Fat,0.159202,Soft Drinks,226.0720,OUT013,1987,High,Tier 3,Supermarket Type1,3621.9520
2923,DRE49,20.750,Low Fat,0.021232,Soft Drinks,151.1024,OUT013,1987,High,Tier 3,Supermarket Type1,2428.8384
3161,DRB25,12.300,Low Fat,0.069402,Soft Drinks,107.9938,OUT013,1987,High,Tier 3,Supermarket Type1,2036.6822
3282,DRH37,17.600,Low Fat,0.041582,Soft Drinks,163.3526,OUT013,1987,High,Tier 3,Supermarket Type1,3453.5046
3307,DRI01,7.970,Low Fat,0.034424,Soft Drinks,171.8422,OUT013,1987,High,Tier 3,Supermarket Type1,2069.3064
3339,DRD13,15.000,Low Fat,0.049039,Soft Drinks,65.4168,OUT013,1987,High,Tier 3,Supermarket Type1,1661.8368
3571,DRB01,7.390,Low Fat,0.082171,Soft Drinks,190.9530,OUT013,1987,High,Tier 3,Supermarket Type1,2466.7890
3796,DRD37,9.800,Low Fat,0.013830,Soft Drinks,45.3060,OUT013,1987,High,Tier 3,Supermarket Type1,1304.9680
3852,DRH49,19.700,Low Fat,0.024635,Soft Drinks,84.1592,OUT013,1987,High,Tier 3,Supermarket Type1,1073.2696
3962,DRA59,8.270,Regular,0.127821,Soft Drinks,185.9924,OUT013,1987,High,Tier 3,Supermarket Type1,555.2772
4135,DRB13,6.115,Regular,0.007038,Soft Drinks,189.2530,OUT013,1987,High,Tier 3,Supermarket Type1,3605.3070
4273,DRD12,6.960,Low Fat,0.077129,Soft Drinks,92.7146,OUT013,1987,High,Tier 3,Supermarket Type1,1733.0774
4276,DRC25,5.730,Low Fat,0.045334,Soft Drinks,87.0882,OUT013,1987,High,Tier 3,Supermarket Type1,1803.6522
4292,DRG13,17.250,Low Fat,0.037155,Soft Drinks,166.4526,OUT013,1987,High,Tier 3,Supermarket Type1,3782.4098
4444,DRE13,6.280,Low Fat,0.027682,Soft Drinks,85.5198,OUT013,1987,High,Tier 3,Supermarket Type1,1744.3960
4531,DRL37,15.500,Low Fat,0.053328,Soft Drinks,44.4770,OUT013,1987,High,Tier 3,Supermarket Type1,865.5400
4934,DRI25,19.600,Low Fat,0.033873,Soft Drinks,56.1614,OUT013,1987,High,Tier 3,Supermarket Type1,828.9210
5210,DRF37,17.250,Low Fat,0.084262,Soft Drinks,261.5910,OUT013,1987,High,Tier 3,Supermarket Type1,3418.8830
5218,DRC01,5.920,Regular,0.019184,Soft Drinks,50.3692,OUT013,1987,High,Tier 3,Supermarket Type1,591.2304
5221,DRK13,11.800,Low Fat,0.115072,Soft Drinks,198.2084,OUT013,1987,High,Tier 3,Supermarket Type1,3769.7596
5247,DRG37,16.200,Low Fat,0.019362,Soft Drinks,154.6972,OUT013,1987,High,Tier 3,Supermarket Type1,1713.7692
5751,DRM49,6.110,Regular,0.151828,Soft Drinks,43.0086,OUT013,1987,High,Tier 3,Supermarket Type1,490.6946
5786,DRN37,9.600,Low Fat,0.096217,Soft Drinks,168.5158,OUT013,1987,High,Tier 3,Supermarket Type1,3342.3160
5899,DRC36,13.000,Regular,0.000000,Soft Drinks,173.6054,OUT013,1987,High,Tier 3,Supermarket Type1,1751.0540
5969,DRG25,10.500,Low Fat,0.019034,Soft Drinks,185.6240,OUT013,1987,High,Tier 3,Supermarket Type1,6897.6880
6103,DRG36,14.150,Low Fat,0.095299,Soft Drinks,171.8106,OUT013,1987,High,Tier 3,Supermarket Type1,3935.5438
6242,DRF01,5.655,Low Fat,0.174935,Soft Drinks,145.0102,OUT013,1987,High,Tier 3,Supermarket Type1,1895.5326
6432,DRE12,4.590,Low Fat,0.070722,Soft Drinks,113.2860,OUT013,1987,High,Tier 3,Supermarket Type1,1471.4180
6603,DRH13,8.575,Low Fat,0.023866,Soft Drinks,107.1280,OUT013,1987,High,Tier 3,Supermarket Type1,958.7520
6623,DRZ11,8.850,Regular,0.112571,Soft Drinks,122.0388,OUT013,1987,High,Tier 3,Supermarket Type1,1609.9044
6817,DRF13,12.100,Low Fat,0.000000,Soft Drinks,145.1444,OUT013,1987,High,Tier 3,Supermarket Type1,3338.3212
6958,DRK12,9.500,Low Fat,0.041851,Soft Drinks,31.4900,OUT013,1987,High,Tier 3,Supermarket Type1,466.0600
7223,DRD60,15.700,Low Fat,0.037201,Soft Drinks,181.7634,OUT013,1987,High,Tier 3,Supermarket Type1,2544.6876
7978,DRM37,15.350,Low Fat,0.096318,Soft Drinks,197.3768,OUT013,1987,High,Tier 3,Supermarket Type1,3350.3056
8048,DRF25,9.000,Low Fat,0.038893,Soft Drinks,36.1190,OUT013,1987,High,Tier 3,Supermarket Type1,1098.5700
8140,DRH25,18.700,Low Fat,0.014581,Soft Drinks,50.2324,OUT013,1987,High,Tier 3,Supermarket Type1,623.1888
8195,DRA24,19.350,Regular,0.039895,Soft Drinks,162.4868,OUT013,1987,High,Tier 3,Supermarket Type1,4422.2436
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736

Filtering from a list of values

In [14]:
list_of_years=[1987,1988,1999]
data[data.Outlet_Establishment_Year.isin(list_of_years)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
...,...,...,...,...,...,...,...,...,...,...,...,...
8475,NCS17,18.600,Low Fat,0.080627,Health and Hygiene,92.5436,OUT049,1999,Medium,Tier 1,Supermarket Type1,378.1744
8479,FDL10,8.395,Low Fat,0.039554,Snack Foods,99.1042,OUT049,1999,Medium,Tier 1,Supermarket Type1,2579.3092
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

Selecting specific columns from data

In [16]:
#List of columns
columns_list=['Item_Identifier','Item_Visibility','Item_Type','Item_MRP']
data[columns_list]

     Item_Identifier  Item_Visibility              Item_Type  Item_MRP
0              FDA15         0.016047                  Dairy  249.8092
1              DRC01         0.019278            Soft Drinks   48.2692
2              FDN15         0.016760                   Meat  141.6180
3              FDX07         0.000000  Fruits and Vegetables  182.0950
4              NCD19         0.000000              Household   53.8614
...              ...              ...                    ...       ...
8518           FDF22         0.056783            Snack Foods  214.5218
8519           FDS36         0.046982           Baking Goods  108.1570
8520           NCJ29         0.035186     Health and Hygiene   85.1224
8521           FDN46         0.145221            Snack Foods  103.1332
8522           DRG01         0.044878            Soft Drinks   75.4670

[8523 rows x 4 columns]

Selecting rows based on a specific condition and fetching limited set of columns

In [17]:
data[data.Outlet_Establishment_Year==1987][columns_list]

     Item_Identifier  Item_Visibility              Item_Type  Item_MRP
4              NCD19         0.000000              Household   53.8614
6              FDO10         0.012741            Snack Foods   57.6588
14             FDF32         0.068024  Fruits and Vegetables  196.4426
20             FDN22         0.138190            Snack Foods  250.8724
27             DRJ59         0.019356            Hard Drinks   39.1164
...              ...              ...                    ...       ...
8462           FDQ31         0.053802  Fruits and Vegetables   85.9856
8466           FDJ32         0.057744  Fruits and Vegetables   61.2536
8484           DRJ49         0.000000            Soft Drinks  129.9652
8512           FDR26         0.042801                  Dairy  178.3028
8518           FDF22         0.056783            Snack Foods  214.5218

[932 rows x 4 columns]

In [18]:
#Using loc to achieve the above results
data.loc[(data.Outlet_Establishment_Year==1987),columns_list]

     Item_Identifier  Item_Visibility              Item_Type  Item_MRP
4              NCD19         0.000000              Household   53.8614
6              FDO10         0.012741            Snack Foods   57.6588
14             FDF32         0.068024  Fruits and Vegetables  196.4426
20             FDN22         0.138190            Snack Foods  250.8724
27             DRJ59         0.019356            Hard Drinks   39.1164
...              ...              ...                    ...       ...
8462           FDQ31         0.053802  Fruits and Vegetables   85.9856
8466           FDJ32         0.057744  Fruits and Vegetables   61.2536
8484           DRJ49         0.000000            Soft Drinks  129.9652
8512           FDR26         0.042801                  Dairy  178.3028
8518           FDF22         0.056783            Snack Foods  214.5218

[932 rows x 4 columns]

Selecting columns based on a data type

In [19]:
#Checking data types of columns
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [20]:
#Selecting columns with data type as object
data.select_dtypes('object')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,NaN,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...
8518,FDF22,Low Fat,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
8519,FDS36,Regular,Baking Goods,OUT045,NaN,Tier 2,Supermarket Type1
8520,NCJ29,Low Fat,Health and Hygiene,OUT035,Small,Tier 2,Supermarket Type1
8521,FDN46,Regular,Snack Foods,OUT018,Medium,Tier 3,Supermarket Type2
8522,DRG01,Low Fat,Soft Drinks,OUT046,Small,Tier 1,Supermarket Type1

In [21]:
#Selecting columns with data type as float64
data.select_dtypes('float64')

      Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0           9.300         0.016047  249.8092          3735.1380
1           5.920         0.019278   48.2692           443.4228
2          17.500         0.016760  141.6180          2097.2700
3          19.200         0.000000  182.0950           732.3800
4           8.930         0.000000   53.8614           994.7052
...           ...              ...       ...                ...
8518        6.865         0.056783  214.5218          2778.3834
8519        8.380         0.046982  108.1570           549.2850
8520       10.600         0.035186   85.1224          1193.1136
8521        7.210         0.145221  103.1332          1845.5976
8522       14.800         0.044878   75.4670           765.6700

[8523 rows x 4 columns]

In [23]:
#Selecting the columns with data type as int64
data.select_dtypes('int64')

      Outlet_Establishment_Year
0                          1999
1                          2009
2                          1999
3                          1998
4                          1987
...                         ...
8518                       1987
8519                       2002
8520                       2004
8521                       2009
8522                       1997

[8523 rows x 1 columns]